{% extends 'base.html.twig' %}

{% block title %}Data{% endblock %}

{% block body %}
    <h1>Data</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ data.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ data.date ? data.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ data.temperature }}</td>
            </tr>
            <tr>
                <th>Wind</th>
                <td>{{ data.wind }}</td>
            </tr>
            <tr>
                <th>Clouds</th>
                <td>{{ data.clouds }}</td>
            </tr>
            <tr>
                <th>Humidity</th>
                <td>{{ data.humidity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_data_index') }}">back to list</a>

    <a href="{{ path('app_data_edit', {'id': data.id}) }}">edit</a>

    {{ include('data/_delete_form.html.twig') }}
{% endblock %}
